# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Environments
.env

# Local configs
config.yaml

# Media / downloads
downloads/
*.mp3
*.m4a
*.webm

# DB and caches
*.sqlite3
state/*.db

# Editor files
.vscode/
.idea/
*.swp
